[submodule "[Datawhale] 模型压缩"]
	path = [Datawhale] 模型压缩
	url = git@github.com:datawhalechina/awesome-compression.git
[submodule "handy-ollama"]
	path = handy-ollama
	url = git@github.com:datawhalechina/handy-ollama.git
[submodule "wow-rag"]
	path = wow-rag
	url = git@github.com:datawhalechina/wow-rag.git
[submodule "hands-on-Mujoco"]
	path = hands-on-Mujoco
	url = git@github.com:Tipriest/hands-on-Mujoco.git
